*{
    background-color: rgb(33, 37, 37);
    font-family: monospace;
}
.container{
    border: 1px solid greenyellow;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 200px;
    width: 600px;
}
